body {
    background-color: white;
}

.label {
    height: 400px;
}

/* .add-icon {
    margin-top: 10px;
} */

/* possible background 
<a href="https://www.desktopbackground.org/wallpaper/food-backgrounds-wallpapers-zone-1030569"><img src="https://www.desktopbackground.org/p/2015/10/22/1030569_food-backgrounds-wallpapers-zone_1400x1000_h.gif" title="Food Backgrounds   Wallpapers Zone Desktop Background" /></a> */


/* .body { max-width: 750px}
* {
    box-sizing: border-box;
} */
/* .container {
    max-width: 750px;
    height: 750px;
    border:2px solid black;
    margin: 0 auto;
    padding:10px;

} */

/* .container2 {
    max-width:360px;
    height: 750px;
    border:2px solid black;
    margin: 0 auto;
    padding:10px;
    float: right; */
/* }
.row1 {
    height:850px; /*set height*/
    border:2px solid blue;
    /* width:100%; */
    margin:auto;
    padding:10px;
} */

/* .row2 {
    height:500px; /*set height*/
    border:2px solid blue;
    /* width:100%; */
    margin-bottom:10px;
    padding:10px; */
/* }
.col {
    border:2px solid red;
    width:25%%;
    height:100%;   
    padding: 10px;
    margin: auto;
} */
/* .col1 {
    border:2px solid green;
    width:65%;
    float:left;
    height:100%;
    margin-right:2%;    
} */