.nav-wrapper {
    
    opacity: 1;
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    overflow: hidden;
    clear: bottom;
   
}



body {
    background-color: white;
    background: url(https://wallpapertag.com/wallpaper/full/1/1/3/317121-new-food-background-2032x1208.jpg);
    background-size: cover;

}

.label {
    height: 400px;
}

.add-button {
    margin-top: 20px;
}

.page-footer {
    
    opacity: 1;
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    overflow: hidden;
    clear: bottom;
}

